{% extends 'base.html' %}
{% load static %}
{% block link_css %}
{% endblock link_css %}
{% block content %}
<body>
<div align="center">
    <div class="list-group" style="width: 20rem">
   {% for list in lists %}
       <br><br>
    <div class="list-group-item list-group-item-action active">
        <a class="btn btn-primary stretched-link" href="{% url "detail_view" list.id %}"> Задание {{ list.id }} </a>
    </div>
  <ul>
    <li class="list-group-item list-group-item-action">{{ list.name }}</li>
    <li class="list-group-item list-group-item-action">{{ list.status.status }}</li>
    <li class="list-group-item list-group-item-action">{{ list.type.type }}</li>
  </ul>
{% endfor %}
</div>
</div>
</body>
{% endblock content %}